# Stripe
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxxxxx
STRIPE_WEBHOOK_SECRET=whsec_xxxxxxxxxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxxxxxxxxx

# Firebase Admin
FIREBASE_PROJECT_ID=auth-c0cde
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@auth-c0cde.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Server
PORT=3001
CLIENT_ORIGIN=http://localhost:5000

# Google Maps
GOOGLE_MAPS_API_KEY=AIzaSyxxxxxxxxxxxxxxxxxxxx

# QR Payment - Khmer (ABA/Wing/ACLEDA)
ABA_PAYMENT_ACCOUNT=000123456
ABA_PAYMENT_NAME=Google Store Cambodia
WING_PAYMENT_ACCOUNT=012345678
ACLEDA_PAYMENT_ACCOUNT=000789012
