*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: column;
}

body{
    background-color: aliceblue;
    color: aliceblue;
    display: inline-grid;
    stroke-dashoffset:0%;
    height:fit-content;
    width:max-content;
    word-break:break-all;
}