.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.btn.primary {
    background-color: blue;
    color: white;
}

.btn.active {
    background-color: green;
    transform: scale(1.05);
}

.btn:hover {
  opacity: 0.9;
  color: rebeccapurple;
}